*{
    margin: 0px;
    padding: 0px;
}

.Container{
    background-color: #ABB2B9;
    height: 390px;
    width: 650px;
    border: solid 3px brown;
    margin: 10px;
    
}

.Titulo{
    font-family: Arial;
    color: white;
}

.Subtitulo{
    font-family: Arial;
    color: white;
}

.Cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Btn-1{
    font-family: Arial;
    color: blue;
    height: 40px;
    border: solid 2px red;
    margin: 5px;
}

.Btn-2{
    font-family: Arial;
    color: blue;
    height: 40px;
    border: solid 2px red;
    margin: 5px;
}

.Btn-3{
    font-family: Arial;
    color: blue;
    height: 40px;
    border: solid 2px red;
    margin: 5px;
}